frkl Private License
Version 1.0
https://gitlab.com/frkl/frkl-private-license

Date:      {{ date }} (ISO 8601)

Licensor:  frkl OÜ
           Sepapaja 6
           Tallinn 15551
           Estonia

           https://frkl.io

Licensee:  {{ licenseeName }}
           {{ licenseeCountry }} (ISO 3166-2)
           {{ licenseeEmail }}

Project:   freckles & dependency libraries

           This license covers my contributions to the
           'freckles' project, version 1.x.x, as well
           as all dependencies that are marked with the
           identifier below.

Identifier: 97de2bf5-0fbb-4884-9d26-488217e1477c


Background

  I have made contributions to the project and granted a
  public license for them.  My public license has rules
  that either limit use for commercial purposes or require
  release of source code for software built with my work.

  This is a separate, private license for my contributions
  to the project, with different rules.  Unlike my
  public license, this private license lets you use my
  contributions to the project for commercial purposes and
  build software not released as open source.  However,
  this private license applies only to you, and you are
  not allowed to sublicense my contributions.

No Liability

  My contributions to the project come as is, without any
  warranty at all.  As far as the law allows, I will not
  be liable for any damages related to the project or this
  license, for any kind of legal claim.

Scope

  This private license covers contributions I have made
  to the project with the identifier in metadata, and
  any contributions I make to the project in the future
  without changing the identifier or adding a new one.
  This private license does not cover contributions I
  make to the project in the future with a different or
  additional identifier.

Copyright License

  I license you to do everything with my contributions to
  the project that would otherwise infringe my copyright
  in them.

Notices

  You must ensure that everyone who gets a copy of any of
  my contributions to the project from you, with or without
  changes, also gets the texts of the public licenses for
  those contributions.

Patent License

  I license you to do everything with the project that
  would otherwise infringe any patent claims I can license
or become able to license.

Sublicensing

  If you combine my contributions to the project with other
  software in a larger application, you are not allowed to
  sublicense my contributions to the project as part of your
  larger application.
